In [4]:
import pandas as pd

In [5]:
movie_data = pd.read_csv('tmdb_5000_movies.csv')

In [6]:

X = movie_data.drop(columns =['budget','homepage','original_language','production_countries',
                              'production_companies', 'status','tagline','runtime','keywords'])

In [7]:
print('the original dataset:',list(movie_data.columns.values))

the original dataset: ['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language', 'original_title', 'overview', 'popularity', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'vote_average', 'vote_count']

In [8]:
print("After processing and removing column:  ")

After processing and removing column:

In [9]:
print(list(X.columns.values))

['genres', 'id', 'original_title', 'overview', 'popularity', 'release_date', 'revenue', 'spoken_languages', 'title', 'vote_average', 'vote_count']

In [10]:
print(X.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   genres            4803 non-null   object
 1   id                4803 non-null   int64
 2   original_title    4803 non-null   object
 3   overview          4800 non-null   object
 4   popularity        4803 non-null   float64
 5   release_date      4802 non-null   object
 6   revenue           4803 non-null   int64
 7   spoken_languages  4803 non-null   object
 8   title             4803 non-null   object
 9   vote_average      4803 non-null   float64
 10  vote_count        4803 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 412.9+ KB
None

In [11]:
X.isnull().sum()

genres              0
id                  0
original_title      0
overview            3
popularity          0
release_date        1
revenue             0
spoken_languages    0
title               0
vote_average        0
vote_count          0
dtype: int64

In [12]:
X.isnull().sum(axis=1).sum()

4

In [13]:
X2=X.fillna(value = 0)

In [14]:
X2.isnull().sum(axis=1).sum()

0

In [15]:
import re

In [16]:
def clean_title(title):
    return re.sub("[^a-zA-Z0-9 ]","",title)

In [17]:
X2["clean_title"]= X2["title"].apply(clean_title)

In [18]:
X2

,genres,id,original_title,overview,popularity,release_date,revenue,spoken_languages,title,vote_average,vote_count,clean_title
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Avatar,7.2,11800,Avatar
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean At Worlds End
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,880674609,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Spectre,6.3,4466,Spectre
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012-07-16,1084939099,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",The Dark Knight Rises,7.6,9106,The Dark Knight Rises
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,284139100,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",John Carter,6.1,2124,John Carter
...,...,...,...,...,...,...,...,...,...,...,...,...
4798,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",9367,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,1992-09-04,2040920,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",El Mariachi,6.6,238,El Mariachi
4799,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,2011-12-26,0,[],Newlyweds,5.9,5,Newlyweds
4800,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,2013-10-13,0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","Signed, Sealed, Delivered",7.0,6,Signed Sealed Delivered
4801,[],126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,2012-05-03,0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Shanghai Calling,5.7,7,Shanghai Calling
4802,"[{""id"": 99, ""name"": ""Documentary""}]",25975,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,2005-08-05,0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",My Date with Drew,6.3,16,My Date with Drew

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [20]:
vectorizer = TfidfVectorizer(ngram_range=(1,2))

In [21]:
tfidf = vectorizer.fit_transform(X2["clean_title"])

In [22]:
tfidf

<4803x11041 sparse matrix of type '<class 'numpy.float64'>'
	with 20711 stored elements in Compressed Sparse Row format>

In [23]:
from sklearn.metrics.pairwise import cosine_similarity

In [24]:
import numpy as np

In [26]:
def search(title):
    title = clean_title(title)
    query_vec = vectorizer.transform([title])
    similarity = cosine_similarity(query_vec,tfidf).flatten()
    indices =np.argpartition(similarity,-5)[-5:]
    results = X2.iloc[indices][::-1]
    return results

In [31]:
 import ipywidgets as widgets
from IPython.display import display

In [32]:
movie_input = widgets.Text(
    value = "Avatar",
    description = "Movie titles",
    disabled = False
)

In [33]:
movie_list = widgets.Output()

In [34]:
def on_type(data):
    with movie_list:
        movie_list.clear_output()
        title = data["new"]
        if len(title)>5:
            display(search(title))

In [35]:
movie_input.observe(on_type, names="value")
display(movie_input, movie_list)

Text(value='Avatar', description='Movie titles')

Output()

In [36]:
import numpy as np

In [37]:
movie_ced = pd.read_csv("tmdb_5000_credits.csv")

In [38]:
cd_col = movie_ced.rename(index=str, columns ={"movie_id": "id"})

In [39]:
movie_df_merge = movie_data.merge(cd_col,  on="id")

In [40]:
tfv = TfidfVectorizer(min_df = 3, max_features= None,
                    strip_accents="unicode", analyzer="word",token_pattern= r'\w{1,}',
                     ngram_range =(1,3),
                     stop_words= 'english')

In [41]:
X['overview'] = X['overview'].fillna('')

In [43]:
tfv_matrix = tfv.fit_transform(X['overview'])

In [44]:
tfv_matrix

<4803x10417 sparse matrix of type '<class 'numpy.float64'>'
	with 127220 stored elements in Compressed Sparse Row format>

In [45]:
from sklearn.metrics.pairwise import sigmoid_kernel

In [46]:
sg = sigmoid_kernel(tfv_matrix)

In [48]:
indices = pd.Series(X.index, index = X["original_title"]).drop_duplicates()

In [49]:
indices

original_title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
My Date with Drew                           4802
Length: 4803, dtype: int64

In [63]:
def give_rec(title, sg=sg):
    idx = indices[title]
    sig_score=list(enumerate(sg[idx]))

    sig_score = sorted(sig_score,key=lambda x:x[1], reverse=True)
    sig_score= sig_score[1:11]
    movie_indices = [i[0] for i in sig_score]
    return X['original_title'].iloc[movie_indices]

In [51]:
import ipywidgets as widgets
from IPython.display import display

In [52]:
movie_input = widgets.Text(
    value = "Avatar",
    description = "Movie titles",
    disabled = False
)

In [53]:
movie_list = widgets.Output()

In [54]:
def on_type(data):
    with movie_list:
        movie_list.clear_output()
        title = data["new"]
        if len(title)>5:
            display(give_rec(title))

In [66]:
movie_input.observe(on_type, names="value")
display(movie_input, movie_list)

Text(value='', description='Movie titles')

Output()

In [72]:
give_rec("The Dark Knight Rises")

299                              Batman Forever
65                              The Dark Knight
1359                                     Batman
428                              Batman Returns
2507                                  Slow Burn
119                               Batman Begins
1181                                        JFK
9            Batman v Superman: Dawn of Justice
3854    Batman: The Dark Knight Returns, Part 2
210                              Batman & Robin
Name: original_title, dtype: object

In [73]:
import ipywidgets as widgets
from IPython.display import display

In [74]:
movie_input = widgets.Text(
    value = "Avatar",
    description = "Content base",
    disabled = False
)

movie_list = widgets.Output()

def on_type(data):
    with movie_list:
        movie_list.clear_output()
        title = data["new"]
        if len(title)>5:
            display(give_rec(title))

In [75]:
movie_input.observe(on_type, names="value")
display(movie_input, movie_list)

Text(value='Avatar', description='Content base')

Output()